@inherits UmbracoViewPage<Home>

@using MBran.Timings.Extensions

<div class="page-components">
    <h1>Right away sir!</h1>
    <div>
        <h2>Opening Hours</h2>
        @foreach(var timing in Model.OpeningHours)
        {
            <div>@timing.Days.From - @timing.Days.To</div>
            <ul>
                @foreach(var hours in timing.Hours)
                {
                    <li>@hours.From.ToString("hh:mm tt") - @hours.To.ToString("hh:mm tt")</li>
                }
            </ul>
        }
    </div>
    <div>
        <h3>Daily Hours</h3>
        @foreach(var dailyHours in Model.OpeningHours.ToDailyHours())
        {
            <div>@dailyHours.Key</div>
            <ul>
                @if (dailyHours.Value.Any())
                {
                    foreach (var hours in dailyHours.Value)
                    {
                        <li>@hours.From.ToString("hh:mm tt") - @hours.To.ToString("hh:mm tt")</li>
                    }
                } else {
                    <li>Closed</li>
                }
            </ul>
        }
    </div>
</div>